####################################
# R / RStudio
####################################
.Rhistory
.RData
.Rproj.user/

####################################
# renv (ambiente local)
####################################
renv/
.renv/library/
.renv/python/

####################################
# Sistema operativo
####################################
.DS_Store
Thumbs.db

####################################
# Temporários / outputs
####################################
tmp/
cache/
logs/

AURORA_DwCA_User_Case.pdf

*.zip
*.rar
test_folder/

inst/extdata/Fake Biodiversity Dataset with Dates - Fake Biodiversity Dataset with Dates.csv
inst/extdata/aurora_good_quality_data_densitydata_id_corrected.csv
inst/extdata/aurora_like_readme.csv
inst/extdata/event2.csv
inst/extdata/occurrence2.csv