####################################
# R / RStudio
####################################
.Rhistory
.RData
.Rproj.user/

####################################
# renv (ambiente local)
####################################
renv/
.renv/library/
.renv/python/

####################################
# Sistema operativo
####################################
.DS_Store
Thumbs.db

####################################
# Temporários / outputs
####################################
tmp/
cache/
logs/

AURORA_DwCA_User_Case.pdf